{% extends "base.html" %}
{% block title %}Commandes{% endblock %}
{% block content %}
    <h1>Liste des Commandes</h1>
    <a href="{{ url_for('add_commande') }}">Ajouter une Commande</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Client ID</th>
            <th>Produit ID</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
        {% for commande in commandes %}
        <tr>
            <td>{{ commande[0] }}</td>
            <td>{{ commande[1] }}</td>
            <td>{{ commande[2] }}</td>
            <td>{{ commande[3] }}</td>
            <td>
                <a href="{{ url_for('edit_commande', commande_id=commande[0]) }}">Modifier</a>
                <a href="{{ url_for('delete_commande', commande_id=commande[0]) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if commandes|length == 0 %}
        <p>Aucune commande trouvée.</p>
    {% endif %}
{% endblock %}