{% extends "base.html" %}
{% block title %}Produits{% endblock %}
{% block content %}
    <h1>Liste des produits</h1>
    <a href="{{ url_for('add_product') }}">Ajouter un produit</a> <!-- Lien pour ajouter un produit -->
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td> <!-- Assurez-vous que product[0] est un entier -->
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>
                <a href="{{ url_for('edit_product', product_id=product[0]) }}">Modifier</a> <!-- Vérifiez que product[0] est un entier -->
                <a href="{{ url_for('delete_product', product_id=product[0]) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}